<!-- /views.index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Items</title>
</head>

<body>
  <h1>Product List</h1>
  <ul>
    <% products.forEach(p=> { %>
      <li><strong><%= p.name %></strong> — $<%= p.price %></li>
  <% }) %>
  </ul>
</body>

</html>
