<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Exercise 12.1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Exercise 12.1 - a</h1>
    <h2>Circles</h2>
  </header>

  <main>
    <p>Circle with radius: <%=radius.toFixed(1)%></p>
    <p>Circumference: <%=(2 * Math.PI * radius).toFixed(2)%></p>
    <p>Area: <%=(Math.PI * radius**2).toFixed(2)%></p>
  </main>

</html>
