
body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  background-color: blue;
  color: white;
}

h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: red;
}

main {
  max-width: 400px;
  margin: auto;
}

form{
  padding: 20px;
  background-color: antiquewhite;
}

label{
  font-weight: bold;
  font-size: larger;
}

div{
  margin: 10px;
}

button{
  height: 2em;
  border-color: blue;
  border-radius: 5px;
  color: red;
  font-weight: bold;
  background-color:azure;
}

button:hover{
  background-color: blue;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}
