<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Exercise 12.1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header>
    <h1>Circles</h1>
  </header>

  <main>
    <h2>Exercise 13.1</h2>
    <p><%=circle.toString()%></p>
    <p>Circumference: <%=circle.circumference().toFixed(2)%></p>
    <p>Area: <%=circle.area().toFixed(2)%></p>
  </main>

</html>
